.from-wrap{

    background-color: rgb(247,248,248);
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.password-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);;
    width: 517px;
    max-width: 90%;
    min-width: 100px;
    min-height: 225px;
    margin-left: 30%;
    border-radius: 06px;
    background-color: #fff;
    margin-top: 10%;
}
.password-h2{
display: flex;
flex-direction: column;
padding: 0px 160px;
border: 1px solid #d6d1d5 ;
border-radius: 5px;
background-color: rgba(190, 188, 188, 0.404);



}
.rend{
    width: 69%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
    height: 34px;
    margin-top: 09px;

}
.all-btn{
    display: flex;
    flex-direction: row;
    margin-top: 13%;
   padding: 12px 193px;
    border: 1px solid #d6d1d5 ;
    border-radius: 5px;
    background-color: rgba(190, 188, 188, 0.404);
} 
.re-btn{
    margin-left: 100%;
}
.can-btn{
    margin-left: 32%;
}
